.container{
    margin: 30px;
    border:solid blanchedalmond;
    border-radius: 10px;
    background-color: rgb(221, 221, 205);
}
.image{
    width:1100px;
    height: 400px;
     border-radius: 10px;
    margin-left: 35px;
}
     