<!DOCTYPE html>
<html>
    <head><title>Carnet de notes</title></head>
<body>
    <form action="{{url_for('ajouter')}}" method="POST">
        <input type="text" name="newnote">
        <button type="submit">Ajouter</button>
    </form>
    <hr>

<h2>Rechercher</h2>

<form action="{{ url_for('rechercher') }}" method="POST">

    <input type="text"
           name="motcle"
           placeholder="Mot-clé">

    <button type="submit">
        Rechercher
    </button>

</form>

{% if resultat %}

<h3>Résultats :</h3>

<ul>
    {% for note in resultat %}
        <li>{{ note.note }}</li>
    {% endfor %}
</ul>

{% endif %}
    <hr>
    {% for n in notes%}
    <div style="display:flex; align-items:center; gap:10px; margin-bottom:10px;" >
        <p>{{n.note}}</p>
        <form action="{{url_for('supprimer', index=loop.index0)}}" method="POST">
            <button type="submit">Supprimer</button>
        </form>
        <form action="{{url_for('modifier_note', index=loop.index0)}}" method="GET">
            <button type="submit">Modifier</button>
        </form>
    </div>
    {%endfor%}
</body>
    </html>
