@if (user.islogin){
    <p>user connecte</p>
}
@else if (user.ispinding)
 {<p>user en attente</p>}
 @else {
    <p>user non connecte</p>
 }
<!-- using @for -->
 <!-- @for (admin of admins; track admin){
    <p>{{admin}}</p>
 }
 @empty{
    <p>no admins</p>
 } -->
    <!-- using for and if -->
     @if (user.islogin){
        @for (admin of admins; track admin){
            <p>{{admin}}</p>
        }}
        @else if(user.ispinding){
<p>admin en attente</p>
        }
     @else {
        <p>admin non connecte</p>
     }
     <!-- using ngClas et ngStyle -->
      <div [ngClass]="{'div1':isadmin(),'div2':!isadmin()}">
        test
      </div>
      <p [ngClass]="[age()>10 ? 'p1':'p2']">
        teeeeeeeeeest
      </p>
      <h1 [ngStyle]="{'font-size':age() + 'px', 'width':age()>5 ? '200px': '100px', 'color':age()>18 ? 'black':'pink'}">angular</h1>