<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Ajout d'un patient</title>
</head>
<body>
    <form action="/ajoutp" method="POST">
        <label for="nom">Non du patient:</label>
        <input type="text" name="nomp" placeholder="Entrer un nom" required><br><br>
    <label for="Prenom">Prenon du patient:</label>
        <input type="text" name="prenomp" placeholder="Entrer un prenom" required><br><br>
     <label for="telephone">Telephone du patient:</label>
        <input type="text" name="telp" placeholder="Entrer un telephone" required><br><br>
    <label for="datenaissance">Date de naissance</label>
    <input type="date" name="datenp" placeholder="Entrer la date de naissance"><br><br>
<button type="submit">Enregistrer</button>
</form>
</body>
</html>