/* container image */
.image-container {
  position: relative;
}

/* image */
.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* coeur overlay */
.heart {
  position: absolute;
  top: 10px;
  right: 10px;

  background: white;
  border-radius: 50%;
  padding: 8px;

  cursor: pointer;
  font-size: 18px;

  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: 0.3s;
}

/* effet hover */
.heart:hover {
  transform: scale(1.2);
}